# Configuración del servidor
PORT=3000
HOST=localhost
NODE_ENV=development

# Configuración de la base de datos
DB_TYPE=mongodb
DB_URL=mongodb://localhost:27017/rapidfast_db

# Configuración de JWT
JWT_SECRET=cambiar_este_secreto
JWT_EXPIRES_IN=1h

# Configuración de CORS
CORS_ORIGIN=*
