import { Controller, Get } from '@angelitosystems/rapidfast';
import { AppService } from './app.service';

@Controller()
export class AppController {
  constructor(private readonly appService: AppService) {}

  @Get('/')
  getHello(): string {
    return this.appService.getWelcomeMessage();
  }

  @Get('/estado')
  getStatus(): object {
    return {
      estado: 'activo',
      uptime: process.uptime(),
      memoria: process.memoryUsage(),
      version: process.version
    };
  }
}